.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    overflow: hidden;
}

.pricePart {
    display: flex;
    align-items: center;
}

.name {
    text-align: center;
}

.counter {
    top: 0;
    right: 0;
    transform: translateX(50px) translateY(40px);
    position: relative!important;
}

.hidden {
    opacity: 0;
}